<!DOCTYPE html>
<html ng-app="diagramApp">
<head>
	<title></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.js"></script>
	<script src="./js/diagram.js"></script>
	<script src="./js/resourse-service.js"></script>
	<script src="./js/app.js"></script>
	<link rel="stylesheet" href="css/app.css" type="text/css" />
</head>
<body ng-controller="DiagramCtrl">
	<div id="tables-panel">
		<select ng-model="selectedSnapshot">
			<option value="">--select--</option>
			<option ng-repeat="snapshot in snapshots" value="{{snapshot.name}}">{{snapshot.name}}</option>
		</select>
		<ul>
			<li ng-repeat="table in tables" ng-click="clickTableLi(table)" ng-class="{selected: table.selected}">{{table.name}}</li>
		</ul>
	</div>
	<div id="diagram-view">
		<div ng-repeat="table in tables | filter:searchSelected" my-draggable="table" class="diagram-elem" ng-mousedown="selectTableView(table)" ng-class="{current: table.current, connected: table.connected}" ng-style="{left: table.x, top: table.y}">
			<div class="table-header">{{table.name}}</div>
			<ul>
				<li ng-repeat="column in table.columns">{{column.name}}</li>
			</ul>
			<div class="menu-button" ng-click="contextMenu.openMenu(table, $event)" ng-mousedown="$event.stopPropagation()"></div>
		</div>
		<svg width="1000px" height="1000px">
			<line ng-repeat="ref in viewableReferences()" ng-attr-x1="{{ref.x1}}" ng-attr-y1="{{ref.y1}}" ng-attr-x2="{{ref.x2}}" ng-attr-y2="{{ref.y2}}" ng-attr-stroke="{{ref.stroke}}"/>
		</svg>
	</div>
	<button ng-click="showStatus()">show status</button>

	<div id="context-menu" ng-class="{enable: contextMenu.enable()}" ng-mouseleave="contextMenu.closeMenu('leave')" ng-style="contextMenu.position()">
		<ul>
			<li ng-click="contextMenu.closeMenu('edit')">edit</li>
			<li ng-click="contextMenu.closeMenu('remove')">remove</li>
			<li ng-click="contextMenu.closeMenu('close')">close</li>
		</ul>
	</div>
</body>
</html>
